<script setup lang="ts">
import { ref, onMounted } from 'vue'
import { useRequest } from 'vue-hooks-plus'
import { getUserInfo } from '@/api/index'

function getUsername(params: { desc: string }): Promise<string> {
  return new Promise((resolve) => {
    setTimeout(() => {
      resolve(`vue-hooks-plus ${params.desc}`)
    }, 1000)
  })
}

const {
  data: userInfo,
  loading: userInfoLoading,
  run: userInfoRun
} = useRequest(() => getUserInfo(), {
  debugKey: 'demo',
  manual: true,
  formatResult: (response) => {
    console.log('response', response?.data)
    return response?.data
  },
  onSuccess: (data, params) => {
    console.log('data', data)
    console.log('params', params)
  }
})

const sendRun = () => {
  userInfoRun()
}

onMounted(() => {})
</script>

<template>
  <button @click="sendRun" class="m-3 p-10 text-center">send</button>
  <header>loading: {{ userInfoLoading }} test: {{ userInfo }}</header>
</template>
